html{
    background: lightgray;
}
.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: auto;
    /* grid-gap:1em; */
    /* grid-template-rows: repeat(16, auto); */
    justify-content:center;
    border: 1px solid black;
}
.boxColor{
    color: white;
    background-color: white;
}
.colored{
    color:lightskyblue;
    background-color: lightskyblue;
}
/* .box{
    grid-column:1/1;
    grid-row:1/1;
} */